<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search for Anime</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <header class="header">
        <h1 class="header-title">WeWatch</h1>
    </header>
    <section class="form-container">
        <form action="" method='GET' id="search">
            <input type="text" placeholder="Search for a Show..." name='showQuery' class="input" id="showName">
            <select name="showType" id="showType" class="input" required>
                <option value="">Show Genre?</option>
                <option value="/anime/search/">Anime</option>
                <option value="/tv/search/">TV</option>
            </select>
            <input type="submit" class="submit" id="home-submit">
        </form>
    </section>

    <ul class="watchlist">
        <% searchResults.forEach(el => { %>
            <li class="show">
                <span class="show-title"><%= el.title %></span>
                <div>
                    <!-- <button class="delete" data-id="">Delete</button> -->
                </div>
            </li>
        <%})%>
    </ul>
    <script src="/index.js"></script>
</body>
</html>