<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeWatch</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="header">
        <a href="/home" class="header-title">WeWatch</a>
        <div class="header-links">
            <a href="/login"> Login</a>
            <a href="/signup"> Signup</a>
        </div>
    </header>
    <section class="landing">
        <div class="landing-info">
            <h1>WeWatch</h1>
            <h2>Discover, track, and indulge in your favorite anime series with our feature-packed watchlist site.</h2>
        </div>
        <a href="/signup" class="landing-cta">Get started →</a>
    </section>
</body>
</html>