@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

:root {
    --border-color: rgb(110, 110, 110);
    --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/*Reset */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
    padding-left: 0;
}

.header {
    padding: 2rem 2rem 1rem;
    box-shadow: var(--box-shadow);
}

.hidden {
    display: none;
}

/* Wishlist Grid */
.watchlist {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px 20px;
    padding: 5% 10% 0;

}

.update-show {
    display: block;
}

.show {
    /* border: 1px solid var(--border-color); */
    padding: 2rem;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.show-title {
    font-size: 1.5rem;
}

/*Media Queries*/

@media screen and (min-width: 600px) {
    .watchlist {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 900px) {
    .watchlist {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (min-width: 1200px) {
    .watchlist {
        grid-template-columns: repeat(4, 1fr);
    }
}