@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

:root {
    --background: rgb(58, 58, 58, 1);
    --header-bg: rgb(48, 48, 48);
    --text-color: rgb(248, 248, 248);
    --border-color: rgb(110, 110, 110);
    --box-shadow: rgba(68, 72, 77, 0.2) 0px 8px 24px;
    --accent: #902923;
}

/*Reset */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background);
}

ul {
    list-style: none;
    padding-left: 0;
}

.header {
    padding: 1rem 2rem;
    color: var(--text-color);
    background-color: var(--header-bg);
    
}

.header-title {
    text-decoration: none;
    font-size: 24px;
    color: var(--text-color);
    font-weight: 700;
}

.hidden {
    display: none;
}


/* Form */
.form-container {
    margin: 2rem 0;
    padding: 0 2rem;
}

#search {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input {
    padding: 0.8rem;
    border-radius: 4px;
    border: 2px solid rgb(182, 182, 182);
    background: none;
    color: var(--text-color);
}

.input option {
    color: var(--background);
}

.submit {
    padding: 0.8rem;
    border-radius: 4px;
    border: 2px solid var(--accent);
    background-color: var(--accent);
    color: var(--text-color);
    font-weight: 700;
}

/* Watchlist home */

.watchlist-title {
    display: flex;
    justify-content: center;
    color: var(--text-color)
}


/* Watchlist Grid */
.watchlist {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px 20px;
    padding: 5% 10%;

}

.update-show {
    display: block;
}

.home-show {
    padding: 2rem;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    display: flex;
    gap: 2rem;
    position: relative;
}

.show-title {
    font-size: 1.5rem;
    color: var(--text-color);
}

.home-show-image {
    height: 200px;
    /* object-fit: cover; */
}

.home-delete {
    background: none;
    border: white;
    position: absolute;
    right: 0;
    top: 0;
    padding: 1rem;
}

.fa-trash {
    color: var(--text-color);
    font-size: 1.5rem;
}

.fa-trash:hover {
    color: var(--accent);
    cursor: pointer;
}

.show-info, .home-show-info {
    color: var(--text-color);
    padding: 0.5rem;
}


/* Searchlist Grid */
.searchlist {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px 20px;
    padding: 5% 10%;

}

.update-show {
    display: block;
}

.show-image {
    width: 100%;
}

.show {
    padding: 2rem;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
}



/*Media Queries*/

@media screen and (min-width: 600px) {
    .searchlist {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 900px) {
    .searchlist {
        grid-template-columns: repeat(3, 1fr);
    }

    #search {
        flex-direction: row;
        justify-content: center;
    }
}
@media screen and (min-width: 1200px) {
    .watchlist {
        grid-template-columns: repeat(2, 1fr);
    }

    .searchlist {
        grid-template-columns: repeat(4, 1fr);
    }
}